.header {
  background-color: $background-dark-purple;
}

.site-header {
  margin: auto;
}

.fa-bars {
  color: #fff;
}

.header a {
  color: #fff;
}

.site-header {
  display: flex;
  margin: auto;
  padding: 1em;
}

.title {
  margin-top: 2em;
}
