$font-color: #fff;
$font-alternative-color: #000;
$accent-color: #edc600;
$background-dark-purple: #3c1159;
$background-purple: #8149a6;
$code-background: #000;

/* Variables for the dark monochrome theme */

$dark-alt-background : #18071E;
$dark-background : #23112A;
$dark-text : #A387AE;
$dark-titles : #624D6A;
$dark-tech :#2C1C32;

