/*Individual-tech.scss*/

@media (min-width: 600px) {
    .landingpage h2 {
      grid-column: 2/ span 2;
      justify-self: center;
      margin-top: 2em;
    }
  
    .tech-container {
      grid-column: 2/ span 2;
    }
  
    .tech-container p,
    pre {
      padding: 1em;
      margin-bottom: 1em;
    }
    
    .backbtn {
      color: $dark-text;
      background-color: $dark-alt-background;
      padding: 1em;
      border-radius: 10px;
    }
  
    .individual-nav {
      grid-column: 1/ span 1;
    }
  
    .individual-box {
      background-color: $dark-tech;
      padding: 1em 0.5em;
      margin: 0.5em;
      border-radius: 5px;
    }
  
    .individual-box a {
      color: $dark-text;
    }
  
    .active-tech {
      background-color: $dark-titles;
      color: $dark-alt-background;
    }

    .active-tech a {
        color: $dark-alt-background;
    }
  
  }
  
  @media (max-width: 600px) {
    .individual-nav {
      display: none;
    }
  
    .tech-container {
      grid-column: 1/ span 3;
    }
  
    .landingpage h2 {
      grid-column: 1/ span 3;
      justify-self: center;
    }
  
    .tech-container p,
    pre {
      padding: 1em;
      margin-bottom: 1em;
    }
  
    .backbtn {
      background-color: $dark-alt-background;
      color: $dark-text;
      padding: 1em;
      border-radius: 10px;
    }
  }
  